/*Основні кольори*/
:root {
  --brand-color: #212121;
  --text-color: #757575;
  --accent-color: #ffffff;
  --sub-accent: #2196f3;
  --hover-accent: #188ce8;
  --bgc: #2f303a;
  --bgc-section: #f5f4fa;
  --logo:#000000;
}

.body {
  font-family: "Roboto", sans-serif;
  color: var(--brand-color);
  letter-spacing: 0.03em;
  background-color: var(--accent-color);
}
.body a {
  text-decoration: none;
}
.base-logo {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  color: var(--sub-accent);
  top: 24px;
  line-height: 1.2;
}
.logo {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  color: var(--logo);
  line-height: 1.2;
}
.nav-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  list-style: none;
  letter-spacing: 0.02em;

}
.active{
    color: var(--sub-accent);
}
.address {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  list-style: none;
}
.list-address {
  color: var(--text-color);
}
.list-address:hover,
.list-address:focus{
  color: var(--sub-accent);
}
.list:hover,
.list:focus{
  color: var(--sub-accent);
}
.hero {
  background-color: var(--bgc);
}
.headline {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  color: var(--accent-color);
  text-align: center;
  letter-spacing: 0.06em;
}
.btn {
  font-family: inherit;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  font-size: 16px;

  background-color: var(--sub-accent);
  color: var(--accent-color);
  cursor: pointer;
}
.btn:hover,
.btn:focus{
  background-color: var(--hover-accent);
}
.subtitle {
  font-weight: 700;
  font-size: 14px;
}
.text {
  line-height: 1.7;
  color: var(--text-color);
}
.heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}
.section-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}
.section-photo {
  background-color: var(--bgc-section);
}
.photo-title {
  font-weight: 500;
}
.photo-text {
  line-height: 1.2;
  color: #757575;
}
.footer {
  background-color: var(--bgc);
}
.footer a {
  text-decoration: none;
}
.mail {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  list-style: none;
  color: rgba(255, 255, 255, 0.6);
}
.mail:hover,
.mail:focus {
  color: var(--sub-accent);
}
.map-link {
  list-style: none;
}
/*Сторінка портфоліо, хедер і футер перенесені*/
.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  background-color: var(--bgc-section);
  
}
.button:hover,
.button:focus{
    color: var(--accent-color);
    background-color: var(--sub-accent)
}
.button-list{
    list-style: none;
}
.examples{
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
}
.name-examples{
    font-size: 16px;
    line-height: 1.87;
    color: var(--text-color);

}
.photo{
    list-style: none;  
}